<!-- {% extends 'base.html' %}


{% block content %}
dsaTEST
<div class='row d-flex'>

    {% for car in car_list %}

    <div class='m-2'>
        <ul class='list-group'>
            <li class='list-group-item'>{{ car.brand }}</li>
            <li class='list-group-item'>{{ car.model }}</li>
            <li class='list-group-item'>{{ car.release_year }}</li>
            <li class='list-group-item'>{{ car.get_transmission_display }}</li>

        </ul>
    </div>

    {% endfor %}
</div>


{% endblock %} -->